.reset-password-success-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 40px;
    background-color: #f4f4f4;
    border-radius: 8px;
    text-align: center;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 16px;
  }
  
  p {
    font-size: 16px;
    margin-bottom: 10px;
  }
  