.forgot-password-request-success {
    text-align: center;
    padding: 20px;
  }
  
  .forgot-password-request-success h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .forgot-password-request-success p {
    font-size: 16px;
    color: #555;
  }
  